# Build artifacts
.config
.config.old
.missing-syscalls.d
*.cmd
*.o
*.s
*.builtin
arch/arm64/include/generated/
include/config/
include/generated/
scripts/basic/fixdep
scripts/basic/bin2c
scripts/kconfig/conf
scripts/genksyms/genksyms
scripts/mod/modpost
scripts/mod/mk_elfconfig
scripts/dtc/dtc
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/kallsyms
scripts/pnmtologo
scripts/sortextable
*.d
*.order
vdso.so*
.version
*.tmp
*.merge
